@font-face {
  font-family: Custom_Leckerli_One;
  src: url("../fonts/leckerli-one/LeckerliOne-Regular.otf");
}

@font-face {
  font-family: Custom_Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

html {
  font-family: Custom_Lato, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  background-color: #36b5b0;
  height: 32vh;
  text-align: center;
  margin-bottom: 5vh;
}

header h1 {
  font-family: Custom_Leckerli_One, Arial, Helvetica, sans-serif;
  font-size: 6.4rem;
  color: white;
  transition: 2s;
  transform: rotate(-10deg);
  padding-top: 12%;
}

header h1:hover {
  transform: rotate(15deg);
}

main section img {
  width: 33vw;
  border: 3px solid white;
  outline: 1px black;
  border-radius: 10px;
  box-shadow: 5px 5px 8px gray;
  text-align: center;
  margin-bottom: 20px;
  transition: 2s;
}

main section img:hover {
  transform: scale(1.1);
  border: 3px solid black;
}

main section article h2 {
  /* background-color: blue; */
  margin-bottom: 10px;
}

main section:nth-of-type(1) {
  margin: auto;
  width: 33vw;
  text-align: left;
  margin-bottom: 20px;
}

main section article a {
  text-decoration: none;
}

main section article a:hover {
  color: purple;
}

main section article p {
  margin-bottom: 10px;
}

main section input {
  font-size: 2rem;
}

main section input {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: #fcf5b0;
  border: none;
}

main section input:focus {
  background-color: #fcf5b0;
  border: none;
  outline: none;
}

main section:nth-of-type(2) {
  margin: auto;
  background-color: #fcf5b0;
  width: 95vw;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 40px;
  padding-left: 5%;
  padding-top: 5%;
}

label {
  font-family: "Courier New", Courier, monospacec;
  background-color: #fcf5b0;
  font-size: 3rem;
}

label span {
  width: 200px;
}

section:nth-of-type(2) article:first-letter {
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 2px;
}

section:nth-of-type(2) div {
  margin-top: 30px;
  background-color: red;
  height: 5px;
  width: 95%;
}

footer {
  width: 100vw;
  background-color: #36b5b0;
  height: 20vh;
  text-align: center;
  padding-top: 11%;
}

footer p {
  margin-bottom: 10px;
}
