/* BASIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* background-color: #cccccc;
    padding: 0 100px 0 100px; */
}

/* ! HEADER */

/* Main mit Background Color, Margin und Padding versehen */
main {
    background-color: rgb(33, 44, 51);
    width: 300px;
    /* height: 600px; */
    padding: 15px;
    margin: auto;
    margin-top: 30px;
}

/* article stylen */

main article {
    text-align: center;
    margin-bottom: 50px;
}

/* a stylen */

main article a {
    margin: -3px;
    padding-top: 16px;
    display: inline-block;
    color: white;
    width: 50.4%;
    height: 50px;
    /* background-color: red; */
}

.active-signup {
    background-color: rgb(60, 181, 120);
    border-right: 2px solid rgb(193, 193, 193);
}

.active-login {
    background-color: rgb(60, 181, 120);
    border-left: 2px solid rgb(193, 193, 193);
}

.link-hover:hover {
    background-color: rgb(10, 241, 126);
}

/* h1 stylen */
h1 {
    text-align: center;
    margin-bottom: 20px;
    height: 60px;
}

/* input Felder stylen */

input {
    background-color: rgb(33, 44, 51);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid rgb(123, 123, 123);
    border-bottom: 1px solid rgb(123, 123, 123);
    height: 28px;
    margin-bottom: 15px;
    padding-left: 7px;
    font-size: 12px;
}

.input-name {
    width: 49%;
}

.block-box {
    display: block;
    width: 99.3%;
}

.submit-button {
    padding-left: 0;
    color: white;
    background-color: rgb(60, 181, 120);
    width: 99.3%;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
/* ! MAIN */

/* ! FOOTER */
