li {
  list-style: none;
  font-size: 12px;
}

div {
  width: 150px;
  height: 150px;
  margin: 50px;
  padding: 10px;
  border: 15px solid #f4f1bb;
  background-color: #9bc1bc;
  outline: 5px solid #546a7b;
  box-shadow: 0px 0px 0px 20px #ed6a5a;
}

li:nth-of-type(1):before {
  content: "►";
  color: #9bc1bc;
}
li:nth-of-type(2):before {
  content: "►";
  color: #f4f1bb;
}
li:nth-of-type(3):before {
  content: "►";
  color: #546a7b;
}
li:nth-of-type(4):before {
  content: "►";
  color: #ed6a5a;
}
