* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

section h1::first-letter {
  color: red;
  font-size: 5rem;
}

section h1:hover::first-letter {
  color: blueviolet;
}

/* ul Element stylen - Ausrichtung und Größe */

ul {
  margin-left: 50px;
  width: 200px;
}

/* li Elemente stylen - Bullet entfernen */

li {
  list-style: none;
}

/* erstes li Elements stylen */

li:nth-of-type(1)::before {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/check.png");
}

li:nth-of-type(1)::after {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/gym.png");
}

li:nth-of-type(1) {
  text-decoration: line-through;
}
/* zweites li Elements stylen */

li:nth-of-type(2)::before {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/check.png");
}

li:nth-of-type(2)::after {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/bill.png");
}

li:nth-of-type(2) {
  text-decoration: line-through;
}
/* drittes li Elements stylen */

li:nth-of-type(3)::before {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/doing.png");
}

li:nth-of-type(3)::after {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/dance.png");
}

li:nth-of-type(3) {
  background-color: aquamarine;
}
/* viertes li Elements stylen */

li:nth-of-type(4)::before {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/doing.png");
}

li:nth-of-type(4)::after {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/eat.png");
}

li:nth-of-type(4) {
  background-color: aquamarine;
}
/* fünftes li Elements stylen */

li:nth-of-type(5)::before {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/no.png");
}

li:nth-of-type(5)::after {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/book.png");
}

li:nth-of-type(5) {
  text-decoration: underline;
}
/* letztes li Elements stylen */

li:nth-of-type(6)::before {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/no.png");
}

li:nth-of-type(6)::after {
  content: url("../img/Lev1_3_css-einführung_pseudo-element/organize.png");
}

li:nth-of-type(6) {
  text-decoration: underline;
}
