@font-face {
    font-family: Custom_Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Custom_Roboto_thin;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

/* * BASIC */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #cccccc;
    font-family: Custom_Roboto, "Lucida Grande", "Lucida Sans Unicode", Geneva,
        Verdana, sans-serif;
    padding: 0 100px 0 100px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

img:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.467);
}

/* ! HEADER */

header {
    color: #659d89;
    height: 100vh;
}

header nav {
    margin-bottom: 100px;
    padding-top: 30px;
}

header a {
    padding-right: 30px;
    color: #659d89;
}

header a:hover {
    text-shadow: 0 0 5px #659d8999;
}

header h1 {
    font-size: 50px;
}

/* Header headline */

.headline p {
    color: black;
    width: 600px;
    font-size: 50px;
    margin-bottom: 50px;
}

/* Header nav_right */

.nav_right {
    text-align: right;
}

.nav_right a {
    display: block;
    padding-bottom: 15px;
}

.nav_right {
    margin-bottom: 200px;
}

.nav_right img:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.39);
}

/* Header div box */

header div p::before {
    content: "\2193";
    margin-right: 5px;
}

header div p {
    color: #666666;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    margin-bottom: 80px;
}
/* ! MAIN */

main section h2 {
    margin-bottom: 15px;
}
/* MAIN SECTION 2 - class gif_Box */

.gif_Box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.gif_Box div {
    display: inline-block;
}

.gif_Box article {
    margin-bottom: 50px;
    display: inline-block;
}

.gifs {
    object-fit: cover;
    width: 23vw;
    /* padding-right: 50px; */
}

.gif_Box {
    padding: 80px;
    margin-bottom: 50px;
}

.gifs {
    width: 400px;
    margin-bottom: 15px;
}

.gifs {
    text-align: center;
    margin-bottom: 100px;
}

/* MAIN SECTION 3 - class feature */

.features {
    color: #666666;
}

.features article {
    padding: 80px 30px 80px 80px;
    /* text-align: center; */
}

.features img {
    margin-bottom: 15px;
}

.features div {
    width: 750px;
}

.alignmentLeft {
    margin-left: 20vw;
}

.features h3 {
    margin-bottom: 60px;
}

.nameImage {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.imageTitle {
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
}

.creator {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

/* ! FOOTER */

footer {
    color: #666666;
    height: 25vh;
    /* margin-bottom: 30px; */
}

footer p {
    font-family: Custom_Roboto_thin, Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 40px;
    font-size: 10px;
}

footer span {
    font-size: 20px;
}

footer span:before {
    content: "⬆";
    font-size: 16px;
    margin-right: 10px;
}

footer p span:hover {
    text-shadow: 0 0 5px gray;
}
